* {
    margin: 0;
    padding: 0;
    list-style: none;
}
.header {
    background: #2222;
    text-align: center;
}
.header .tab {
    display: flex;
    width: 285px;
    /* background: #7777; */
    margin: 0 auto;
}
.header .tab li {
    padding: 10px;
    border: 1px solid red;
}
.header .tab li.active {
    background: skyblue;
}
.header .tab li a {
    color: #000;
    text-decoration: none;
}

.content {
    width: 100%;
    margin: 0 auto;
}
.content .list {
    width: fit-content;
    margin: 20px auto 0;
    display: none;
}
.content .active {
    display: block;
}
